.App {
  background-image: url(./components/UsersContainer/imgs/depositphotos_116237126-stock-photo-hand-drawn-watercolor-stain-of.jpg);
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}