.list-button {
    border: 2px solid #4f94c2;
    background-color: #92caf0;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-family: -webkit-pictograph;
    cursor: pointer;
    color: #043b5f;
    font-weight: 600;
    border-radius: 10px;

    &:hover {
        background-color: #8bbee0;
    }

    &:active {
        background-color: rgb(139, 179, 206);
    }

    &--dangerous {
        background-color: rgba(201, 112, 109, 0.774);

        &:hover {
            background-color: rgba(201, 102, 99, 0.932);
        }

        &:active {
            background-color: rgba(194, 84, 80, 0.932);
        }
    }

}